.yesButton {
  border: none;
  background-color: #003566;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #ffffff;
}
.noButton {
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #888888;
}

.heading {
  font-weight: 500;
}
.smallHeading {
  font-size: 14px;
  font-weight: 500;
}
.addMore {
  font-size: 12px;
  font-weight: 500;
  color: #003566;
  cursor: pointer;
}

.fileContainer {
  height: 2.5rem;
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  border-radius: 30px;
  padding: 0 0.8rem;
  margin-bottom: 0.5rem;
}
.filePill {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0.25rem 0.5rem;
  display: flex;
  max-width: 10rem;
  align-items: center;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.filePill:hover {
  background-color: #00356625;
}

.checkBox {
  height: 0.8rem;
  width: 0.8rem;
  border: 2px solid #1c1b1f;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: all;
  transition-duration: 300ms;
}
.activeCheckBox {
  background-color: #003566;
  border: 2px solid #003566;
}
