.container {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.filesHeading {
  font-size: 24px;
  font-weight: 600;
}

.blueStripe {
  height: 3rem;
  width: 100%;
  background-color: #003566;
  border-radius: 8px 8px 0 0;
  color: #ffffff;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tableHere {
  border: 0px solid #cccccc;
  border-radius: 0 0 8px 8px;
  height: 20rem;
  overflow-y: scroll;
}

.tableHere td {
  border: none;
  background-color: #fafafa;
}
.tableHere th {
  background-color: #dae2f1;
}

.searchInput input {
  outline: none;
  margin-right: 0.5rem;
  border-radius: 6px;
  border: none;
  padding: 0.25rem 1rem;
  width: 12rem;
  font-size: 12px;
  height: 1.8rem;
}

.searchActive {
  background-color: #ffffff;
  color: #003566;
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}
.searchInactive {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  cursor: pointer;
}
