.container {
  height: 100%;
}
.headingTabs {
  height: 6rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.5rem;
  align-items: center;
}

.headingName {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  color: #252525;
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
}
.closeButton:hover {
  color: #000000;
  transform: scale(1.1);
}

.tabsContainer {
  display: flex;
  flex-wrap: nowrap;
}
.eachTab {
  width: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #eeeeee;
  padding: 0.5rem 0;
  cursor: pointer;
  white-space: nowrap;
  transition: all;
  transition-duration: 300ms;
}
.activeTab {
  border-bottom: 3px solid #003566;
  background-color: #e4e4f1;
}

.content {
  padding: 0.5rem;
  height: 75%;
  overflow-y: scroll;
}

.dataLabel {
  font-size: 12px;
}
.dataData {
  font-size: 14px;
  font-weight: 500;
}

.notifBox {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.notifHead {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.dateString {
  font-size: 10px;
  margin-bottom: 0.5rem;
  color: #333333cc;
  padding-left: 1rem;
}
