.container {
  height: 100%;
  position: relative;
}
.headingTabs {
  height: 6rem;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0.5rem;
  align-items: center;
}

.headingName {
  font-size: 16px;
  font-weight: 600;
  white-space: nowrap;
  max-width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.closeButton {
  color: #252525;
  transition: all;
  transition-duration: 300ms;
  cursor: pointer;
}
.closeButton:hover {
  color: #000000;
  transform: scale(1.1);
}

.eachTab {
  width: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  border-bottom: 3px solid #eeeeee;
  padding: 0.5rem 0;
  cursor: pointer;
  white-space: nowrap;
  transition: all;
  transition-duration: 300ms;
}
.activeTab {
  border-bottom: 3px solid #003566;
  background-color: #e4e4f1;
}

.content {
  padding: 0.5rem;
  height: 75%;
  overflow-y: scroll;
}

.dataLabel {
  font-size: 12px;
}
.dataData {
  font-size: 14px;
  font-weight: 500;
}

.notifBox {
  width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.notifHead {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.dateString {
  font-size: 10px;
  margin-bottom: 0.5rem;
  color: #333333cc;
  padding-left: 1rem;
}
.uploadButton {
  background-color: #e6f3ff;
  border-radius: 50px;
  border: none;
}
.uploadButton span {
  font-size: 12px;
  font-weight: 500;
  margin-left: 0.5rem;
}
.chatFooter {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  margin-left: 6px;
}

.chatFooter button {
  position: absolute;
  top: 0;
  right: 0;
  height: 33px;
  width: 80px;
  background-color: #003566;
  color: antiquewhite;
  border-radius: 50px;
  top: 20%;
  right: 5%;
  border: none;
}
.chatFooter input {
  border-radius: 50px;
  border: none;
  width: 321px;
  height: 55px;
  padding-right: 70px;
  padding-left: 20px;
  background-color: #ffffff;
}

.chatFooter input:focus {
  border: 1px solid #1670be;
  box-shadow: 0 0 3px #1670be;
  outline-offset: 0px;
  outline: none;
}
.tabsContainer {
  position: absolute;
  overflow-y: scroll;
  height: 75%;
  align-items: center;
}
.newVersionText {
  text-align: center;
  box-sizing: border-box;
  width: 22.1rem;
  height: 50px;
  background: #ffffff;
  border-bottom: 1px solid #e6e6e6;
}
.newVersionText p {
  width: 22.1rem;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #646464;
}
.newVersionText h5 {
  padding-top: 5px;
  /* width: 19.3rem; */
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #646464;
}
.chatBox {
  box-sizing: border-box;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  /* margin-bottom: 40px; */
  width: 19.3rem;
  height: auto;
  left: 15px;
  top: 16px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.chatHeaderVersion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 10px;
  gap: 10px;
  width: 35px;
  height: 15px;
  background: #d6ebff;
  border-radius: 50px;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
}
.chatHeaderVersion span {
  width: 15px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #003566;
}
/* .chatBox Header {
  width: 30px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
} */
.chat {
  height: 17px;
  left: 16px;
  top: calc(50% - 17px / 2 + 13.5px);
  font-family: "Inter";
  font-style: normal;
  font-weight: 450;
  font-size: 14px;
  line-height: 17px;
  color: #4d4d4d;
}
.chatTime {
  width: 54px;
  height: 15px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #b5b5b5;
  padding-top: 3px;
  padding-left: 3px;
}
.firstFeedBack {
  box-sizing: border-box;
  /* position: relative; */
  width: 300px;
  height: 215px;
  left: 25px;
  margin: 18px;
  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  border: 2px solid #000000;
  border: none;
}
.firstFeedBack textarea {
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  left: 20px;
  top: 88px;
  background: #ffffff;
  border: none;
  border-radius: 8px;
  outline: none;
}
.firstFeedBack button {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 8px 16px;
  gap: 10px;
  position: absolute;
  width: 80px;
  height: 33px;
  left: 232px;
  top: 194px;
  background: #003566;
  border-radius: 50px;
  border: none;
}
.firstFeedBack span {
  width: 48px;
  height: 17px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}
