.heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.linkContainerDiv {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
  align-items: center;
  border-radius: 32px;
  padding: 0 0.5rem 0 1rem;
  margin-bottom: 2rem;
}
.linkContainerDiv button {
  height: 1.8rem;
  background-color: #3b5998;
  color: #ffffff;
  border: none;
  border-radius: 32px;
  font-size: 12px;
  padding: 0 1rem;
  cursor: pointer;
}

.eachIconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5rem;
  cursor: pointer;
}
