.eachCard {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 4px;
  height: 2.5rem;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  color: #333333;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.eachCard:hover {
  background-color: #00356610;
  transform: scale(1.01);
}
.folderCard {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 4px 4px 0 0;
  height: 2.5rem;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  border-bottom: none;
  color: #333333;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.folderCard:hover {
  background-color: #00356610;
  /* transform: scale(1.01); */
}

.folderCardNotOpened {
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  border-radius: 4px;
  height: 2.5rem;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  color: #333333;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.folderCardNotOpened:hover {
  background-color: #00356610;
  transform: scale(1.01);
}
.customCheckbox {
  border: 1px solid #333333;
  height: 0.8rem;
  width: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  background-color: #ffffff;
}
.customCheckbox:hover {
  transform: scale(1.05);
}
.customCheckbox:active {
  transform: scale(0.95);
}
.activeCheckbox {
  border: 1px solid #003566;
  height: 0.8rem;
  width: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  border-radius: 2px;
  color: #ffffff;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  background-color: #003566;
}
.activeCheckbox:hover {
  transform: scale(1.05);
}
.activeCheckbox:active {
  transform: scale(0.95);
}
.noFileBox {
  width: 0.8rem;
  height: 0.8rem;
  margin-right: 0.5rem;
  border: 1px solid #00000000;
}
.eachCardInput {
  width: 100%;
  height: 100%;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f0f0f0;
  outline: none;
  padding-left: 0.5rem;
}
.commentButton {
  color: #333333;
  transition: all;
  transition-duration: 300ms;
}
.commentButton:hover {
  color: #003566;
  transform: scale(1.1);
}

.folderFiles {
  border-top: none !important;
  margin-bottom: 0.5rem;
  border-radius: 0 0 4px 4px;
  overflow-y: hidden;
  transition: height;
  transition-duration: 500ms;
}

.eachInsideCard {
  height: 2.5rem;
  display: flex;
  padding: 0 0.5rem;
  align-items: center;
  color: #333333;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.eachInsideCard:hover {
  background-color: #00356610;
}

.feedbackBox {
  height: 10rem;
  margin-bottom: 0.5rem;
  overflow-y: hidden;
  transition: height;
  transition-duration: 500ms;
}
.feedbackContainer {
  width: 100%;
  padding: 0.5rem;
}

.fileLinkName {
  text-decoration: none;
  color: #333333;
}
