.yesButton {
  border: none;
  background-color: #3b5998;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #ffffff;
}
.noButton {
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #888888;
}
