.yesButton {
  border: none;
  background-color: #003566;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #ffffff;
  margin-left: 1rem;
  transition: all;
  transition-duration: 300ms;
}
.noButton {
  border: none;
  background-color: #f0f0f0;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #888888;
  transition: all;
  transition-duration: 300ms;
}
.outlineButton {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  height: 2rem;
  padding: 0 1rem;
  color: #003566;
  margin-left: 1rem;
  border: 1px solid #003566;
  transition: all;
  transition-duration: 300ms;
}

.yesButton:hover {
  box-shadow: 4px 0 10px #00000055;
}
.noButton:hover {
  box-shadow: 4px 0 10px #00000055;
}
.outlineButton:hover {
  box-shadow: 4px 0 10px #00000055;
}
