@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-stretch: 75% 125%;
  src: url('./Assets/Fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype-variations');
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; */
  font-family: 'Inter', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container-box {
  margin-left: 20vw;
  height: 90vh;
  margin-top: 10vh;
}

::-webkit-scrollbar {
  display: none;
}
.no-drop-arrow::after {
  display: none !important;
}
