.container {
  height: 100%;
  width: 100%;
  background-color: #f7f7f7;
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

.multipleFilesOptionBox {
  position: absolute;
  bottom: 20px;
  min-width: 12rem;
  background-color: #ffffff;
  transition: all;
  transition-duration: 400ms;
  box-shadow: 4px 0 10px #00000030;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  z-index: 10000;
  padding: 0.5rem;
}
.optionBoxText {
  font-size: 12px;
  font-weight: 500;
}
.eachOption {
  width: 2rem;
  height: 2rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  margin: 0 0.25rem;
}
.eachOption:hover {
  background-color: #00000030;
}
.disabledOption {
  width: 2rem;
  height: 2rem;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 0 0.25rem;
  pointer-events: none;
  opacity: 0.5;
}
.uploadingFilesBox {
  position: absolute;
  bottom: 20px;
  right: 10px;
  width: 15rem;
  background-color: #ffffff;
  transition: all;
  transition-duration: 500ms;
  box-shadow: 4px 0 10px #00000030;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  z-index: 10000;
}

.filesHeading {
  font-size: 24px;
  font-weight: 600;
}

.actionButtons {
  font-size: 12px;
  font-weight: 600;
  border: 1px solid #cccde5 !important;
  background-color: #ffffff !important;
  border-radius: 6px;
  color: #003566 !important;
  padding: 0 1rem;
  height: 1.8rem;
  width: fit-content;
  margin-right: 0.5rem;
  transition: all;
  transition-duration: 300ms;
}
.actionButtons:hover {
  background-color: #edeefd !important;
  color: #003566 !important;
  border: 1px solid #cccde5 !important;
}

.tabContainer {
  background-color: #003566;
  padding: 0.5rem;
  border-radius: 8px 8px 0 0;
}
.allTabs {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 0.125rem;
  width: fit-content;
}
.inactiveTab {
  background-color: #ffffff;
  color: #797979;
  font-size: 14px;
  padding: 0.15rem 1.5rem;
  display: flex;
  justify-content: center;
  margin-right: 0.125rem;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.inactiveTab:hover {
  background-color: #0035661f;
}
.activeTab {
  background-color: #003566;
  color: #ffffff;
  font-size: 14px;
  padding: 0.15rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.125rem;
}

.internalTabContainer {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 0.125rem;
  display: flex;
  margin-top: 0.5rem;
}
.activeInternalTab {
  background-color: #003566;
  padding: 0.25rem 2rem;
  font-size: 12px;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
}
.inactiveInternalTab {
  background-color: #ffffff;
  padding: 0.25rem 2rem;
  font-size: 12px;
  color: #797979;
  font-weight: 600;
  border-radius: 4px;
  cursor: pointer;
}

.filesTableContainer {
  height: 100%;
  transition: all;
  transition-duration: 500ms;
  position: relative;
}
.detVerContainer {
  border: 1px solid #e6e6e6;
  transition: all;
  transition-duration: 500ms;
  overflow: hidden;
}
